.hex8a79f7 {
    font-weight: bold;
    background-color: rgba(138, 121, 247, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex8a79f7 {
    font-weight: bold;
    background-color: rgba(110, 112, 231, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex6e70e7 {
    font-weight: bold;
    background-color: rgba(82, 104, 216, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

.hex5268d8 {
    font-weight: bold;
    background-color: rgba(82, 104, 216, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

.hex3760c9 {
    font-weight: bold;
    background-color: rgba(55, 96, 201, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex1b58ba {
    font-weight: bold;
    background-color: rgba(27, 88, 186, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex0050ab {
    font-weight: bold;
    background-color: rgba(0, 80, 171, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex196bbe {
    font-weight: bold;
    background-color: rgba(25, 107, 190, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex3286d1 {
    font-weight: bold;
    background-color: rgba(50, 134, 209, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex4ba1e4 {
    font-weight: bold;
    background-color: rgba(75, 161, 228, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex65dbf7 {
    font-weight: bold;
    background-color: rgba(101, 219, 247, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex77c8f8 {
    font-weight: bold;
    background-color: rgba(119, 200, 248, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex8ad3f9 {
    font-weight: bold;
    background-color: rgba(138, 211, 249, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex9cdefb {
    font-weight: bold;
    background-color: rgba(156, 222, 251, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexafe9fc {
    font-weight: bold;
    background-color: rgba(175, 233, 252, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexc1f4fd {
    font-weight: bold;
    background-color: rgba(193, 244, 253, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexd4ffff {
    font-weight: bold;
    background-color: rgba(212, 255, 255, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

/* 0 < t < 2 <*/

.hex05b38a {
    font-weight: bold;
    background-color: rgba(5,179,138,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex02d495 {
    font-weight: bold;
    background-color: rgba(2,212,149,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex8aedbb {
    font-weight: bold;
    background-color: rgba(138,237,187,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexccffd0 {
    font-weight: bold;
    background-color: rgba(204,255,208,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexebfccf {
    font-weight: bold;
    background-color: rgba(235,252,207,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexebff7a {
    font-weight: bold;
    background-color: rgba(235,255,122,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexffea80 {
    font-weight: bold;
    background-color: rgba(255,234,128,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

.hexf7d423 {
    font-weight: bold;
    background-color: rgba(247,212,35,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexf5b400 {
    font-weight: bold;
    background-color: rgba(245,180,0,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexf29500 {
    font-weight: bold;
    background-color: rgba(242,149,0,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexf07400 {
    font-weight: bold;
    background-color: rgba(240,116,0,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexff5324 {
    font-weight: bold;
    background-color: rgba(255,83,36,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexf71707 {
    font-weight: bold;
    background-color: rgba(247,23,7,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

/* .hexf71707 {
    font-weight: bold;
    background-color: rgba(247,23,7,0.7);
    border: 1px solid black;
    color: rgba(7, 171, 247, 0.7);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
} */

.hexdb0a07 {
    font-weight: bold;
    background-color: rgba(219,10,7,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexbd0404 {
    font-weight: bold;
    background-color: rgba(219,10,7,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex9e0101 {
    font-weight: bold;
    background-color: #9e0101;
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

.hexeb0052{
  font-weight: bold;
  background-color: #eb0052;
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

/* precipitation values */

.hexfff7fb {
    font-weight: bold;
    background-color: rgba(255,247,251,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexece7f2 {
    font-weight: bold;
    background-color: rgba(236,231,242,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexd0d1e6 {
    font-weight: bold;
    background-color: rgba(208,209,230,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexa6bddb {
    font-weight: bold;
    background-color: rgba(166,189,219,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex74a9cf {
    font-weight: bold;
    background-color: rgba(116,169,207,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex3690c0 {
    font-weight: bold;
    background-color: rgba(54,144,192,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex0570b0 {
    font-weight: bold;
    background-color: rgba(5,112,176,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex045a8d {
    font-weight: bold;
    background-color: rgba(4,90,141,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex4575b4 {
    font-weight: bold;
    background-color: rgba(69,117,180,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex91bfdb {
    font-weight: bold;
    background-color: rgba(145,191,219,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexe0f3f8 {
    font-weight: bold;
    background-color: rgba(224,243,248,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexffffbf {
    font-weight: bold;
    background-color: rgba(255,255,191,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexfee090 {
    font-weight: bold;
    background-color: rgba(254,224,144,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexfc8d59 {
    font-weight: bold;
    background-color: rgba(252,141,89,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexd73027 {
    font-weight: bold;
    background-color: rgba(215,48,39,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

/* snow depth */

.hexbfe6ff {
    font-weight: bold;
    background-color: rgba(191,230,255,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex8dcdff {
    font-weight: bold;
    background-color: rgba(141,205,255,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex3c9dde {
    font-weight: bold;
    background-color: rgba(60,157,222,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex3972bf {
    font-weight: bold;
    background-color: rgba(57,114,191,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex6185c0 {
    font-weight: bold;
    background-color: rgba(97,133,192,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex8898c2 {
    font-weight: bold;
    background-color: rgba(136,152,194,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex8e6bb0 {
    font-weight: bold;
    /* background-color: rgba(126,17,126,0.7); */
    background-color: rgba(142,107,176,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex863e97 {
    font-weight: bold;
    background-color: rgba(134,62,151, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex7e117e {
    font-weight: bold;
    background-color: rgba(126,17,126,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex5b10 {
    font-weight: bold;
    background-color: rgba(91,16,111,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexebdaf0 {
    font-weight: bold;
    background-color: rgba(235,218,240,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}


/* relative humidity */

.hexf7fbff {
  font-weight: bold;
  background-color: rgba(247,251,255,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexdeebf7 {
  font-weight: bold;
  background-color: rgba(222,235,247,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexc6dbef {
  font-weight: bold;
  background-color: rgba(198,219,239,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex9ecae1 {
  font-weight: bold;
  background-color: rgba(158,202,225,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex6baed6 {
  font-weight: bold;
  background-color: rgba(107,174,214,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex4292c6 {
  font-weight: bold;
  background-color: rgba(66,146,198,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex2171b5 {
  font-weight: bold;
  background-color: rgba(33,113,181,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex08519c {
  font-weight: bold;
  background-color: rgba(8,81,156,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex08306b {
  font-weight: bold;
  background-color: rgba(8,48,107,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

/* pressure */

.hex9e0142 {
  font-weight: bold;
  background-color: rgba(158,1,66,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexd53e4f {
  font-weight: bold;
  background-color: rgba(213,62,79,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexf46d43 {
  font-weight: bold;
  background-color: rgba(244,109,67,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexfdae61 {
  font-weight: bold;
  background-color: rgba(253,174,97,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexfee08b {
  font-weight: bold;
  background-color: rgba(254,224,139,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexffffbf {
  font-weight: bold;
  background-color: rgba(255,255,191,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexe6f598 {
  font-weight: bold;
  background-color: rgba(230,245,152,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexabdda4 {
  font-weight: bold;
  background-color: rgba(171,221,164,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex66c2a5 {
  font-weight: bold;
  background-color: rgba(102,194,165,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex3288bd {
  font-weight: bold;
  background-color: rgba(50,136,189,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex5e4fa2 {
  font-weight: bold;
  background-color: rgba(94,79,162,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

/* t2mtdev */ 

.hexb2182b {
  font-weight: bold;
  background-color: rgba(178,24,43,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexd6604d {
  font-weight: bold;
  background-color: rgba(214,96,77,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexf4a582 {
  font-weight: bold;
  background-color: rgba(244,165,130,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexfddbc7 {
  font-weight: bold;
  background-color: rgba(253,219,199,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexf7f7f7 {
  font-weight: bold;
  background-color: rgba(247,247,247,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hexd1e5f0 {
  font-weight: bold;
  background-color: rgba(209,229,240,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex92c5de {
  font-weight: bold;
  background-color: rgba(146,197,222,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex4393c3 {
  font-weight: bold;
  background-color: rgba(67,147,195,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex2166ac {
  font-weight: bold;
  background-color: rgba(33,102,172,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}

.hex053061 {
  font-weight: bold;
  background-color: rgba(5,48,97,0.7);
  border: 1px solid black;
  color: black;
  padding-left: 5px; 
  padding-right: 5px; 
  font-size: 15px;
}